[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.62.0"
uvicorn = "0.13.1"
starlette = "0.13.6"
jinja2 = "*"
pydantic = "*"
httpx ="*"

[dev-packages]

[requires]
python_version = "3.8"
